<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {# <script src="nunjucks.js"></script> #}
</head>

<body>
    <p>{{posts[0]['name']}}</p>
    <div class="container">
        <h2>Users</h2>
        <!-- <p>The .table-hover class enables a hover state on table rows:</p> -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stream</th>
                    <th>Date Joined</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td>{{ post['name'] }}</td>
                    <td>{{ post['stream'] }}</td>
                    <td>{{ post['datejoined'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>